<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>谷歌访问助手</title>
		<link rel="stylesheet" href="index.css" />
		<script type="text/javascript" src="../static/vendor/vue/vue.js"></script>
		<script type="text/javascript" src="../static/vendor/require/require.js"></script>
	</head>

	<body>
		<div class="wrapper" id="pageContainer">
			<div class="panel panel-default" style="margin-bottom: 0px;">
				<div class="panel-heading">
					<h3 class="panel-title">
                    <a href="https://54dxs.github.io/html/54Helper/doc/use/%E8%B0%B7%E6%AD%8C%E8%AE%BF%E9%97%AE%E5%8A%A9%E6%89%8B.html" target="_blank" class="x-a-high">
                        <img src="../static/img/icon16.png" alt="54helper" style="margin-top: -3px;"/> 54Helper</a>：谷歌访问助手</h3>
				</div>
			</div>
			
			<div class="panel panel-default panel-body" style="margin-top: 10px;">
				<div class="row">
					<div class="col-lg-6">
						<div id="developer">
		                    <div class="name">
		                        <span>免费访问：<a target="_blank" href="https://www.google.com.hk">谷歌搜索</a>，<a target="_blank" href="https://mail.google.com/mail/">Gmail邮箱</a>，<a target="_blank" href="https://chrome.google.com/webstore/category/extensions?hl=zh-CN">Chrome商店</a>...</span>
		                    </div>
		                </div>
		                <div style="margin-bottom: 15px;">
		                    <span>应急操作：
		                    	<a @click="refreshF()" href="#">刷新</a>&nbsp;&nbsp;&nbsp;
		                    	<a @click="restartF()" href="#">重启</a>&nbsp;&nbsp;&nbsp;
		                    	<a @click="stopF()" v-if="stopP" href="#">暂停</a>
		                    	<a @click="startF()" v-if="startP" href="#">启动</a>
		                    </span>
		                </div>
		                <div v-if="onStatus"></div>
		                <div>
		                    <span>如果还不能访问，可以试试刷新或者重启</span><br>
		                    <span>如果要使用其他代理而不冲突，可以点击暂停</span>
		                </div>
		                <div v-if="offStatus">
		                    <span class="tips" v-html="tips"></span>
		                </div>
		
		                <span>
		                    <e>{{popupMessage}}</e>
		                </span>
					</div>
					
					<div class="col-lg-6 share">
			            <a id="share-facebook" href="https://www.google.com" target="_blank">Google搜索</a>
			            <a id="share-chrome" href="https://chrome.google.com/webstore/category/apps?authuser=1" target="_blank">Chrome商店</a>
			            <a id="share-gmail" href="https://mail.google.com" target="_blank">Gmail邮箱</a>
			            <a id="share-gplus" href="https://plus.google.com/u/0/getstarted?fww=1" target="_blank">Google+</a>
						<span>可访问网站，点击体验</span>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="index.js"></script>
	</body>

</html>